html{
    background: #eee;
}
body{
    width: 100%;
    max-width: 500px;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    color: #515151;
}
#wrap{
    height: 100vh;
    overflow-y: auto;
}
#wrap::-webkit-scrollbar{
    display: none;
}
header, footer, main{
    max-width: 500px;
}

.inner{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.flex{
    display: flex;
}
main{
    padding-top: 80px;
}