@charset "utf-8";
/* 컴포넌트 css */
/* 더보기 버튼 누르면 나오는 미니 팝업 */
.list_popup{position: absolute;top: 0;background:#fff;min-width: 8.8rem;width: auto;height: max-content;border-radius: .7rem;box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);overflow: hidden;}
.list_popup li{height: 4rem;}
.list_popup li:hover a{background-color: #e8e8ee;}
.list_popup li a{height: 100%;width: 100%;display: flex;flex-wrap: wrap;font-size: 1.3rem;line-height: 1;align-items: center;justify-content: center;gap: .5rem;}
.list_popup li a i{width: 1.6rem;height: 1.6rem;aspect-ratio: 1/1;text-align: center;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;}
.list_popup li a i img{width: 75%;height: auto;}
.list_popup li a i img:first-child{display: block;}
.list_popup li a i img:last-child{display: none;}

.list_popup li.act a{background-color: #F44336;color: #fff;}
.list_popup li.act a i img:first-child{display: none;}
.list_popup li.act a i img:last-child{display: block;}
/* 더보기 버튼 누르면 나오는 미니 팝업 */

/* 결재창 감싸는 창 */
#pricePayPopup{width:100%;max-width: 1087px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 100;background-color: #fff;height: auto;min-height: 647px;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;box-shadow: 0 0 2rem 0 rgba(0,0,0,.25)}
/* 결재창 감싸는 창 */

/* vdeskPopup */
#vdeskPopup{width: 82%;height: auto;aspect-ratio: 1850 / 994;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 100;background-color: #fff;box-shadow: 0 0 2rem 0 rgba(0,0,0,.25);border-radius: .7rem;border: .1rem solid #E1E3E1;overflow: hidden;}
#vdeskPopup .vdeskheader{background-color: #fff;height: 4.8rem;width: 100%;display: flex;flex-wrap: wrap;justify-content: space-between;box-sizing: border-box;padding-left: 2.4rem;padding-right: 2.4rem;align-items: center;border-bottom: .1rem solid #E1E3E1;}
#vdeskPopup .vdeskheader h2{line-height: 1;display: flex;flex-wrap: wrap;align-items: center;gap: .8rem;}
#vdeskPopup .vdeskheader h2 span:first-child{font-size: 1.5rem;color: #111111;font-weight: 600;}
#vdeskPopup .vdeskheader h2 span:last-child{font-size: 1.2rem;background-color: #F0FFE3;color: #6ACC18;width: 5.8rem;height: 2.4rem;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;border-radius: 5rem;}
#vdeskPopup .vdeskheader > ul{gap:.8rem}
#vdeskPopup .vdeskheader > ul > li{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
#vdeskPopup .vdeskheader > ul > li > a > i{width: 2.6rem;height: 2.6rem;box-sizing: border-box;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}


/* 파일업로드 창 */
#vdeskPopup .vdeskbody{width: 100%;height: calc(100% - 48px);background-color: #363636;}
#vdeskPopup .vdesk_content{width: calc(100% - 7.6rem);box-sizing: border-box;margin-left: auto;margin-right: auto;background: #0a0b3f;height: 100%;position: relative;}

#vdeskFile.vdeskFile{width: 68.8rem;margin: 0 auto;background-color: #fff;height: 57.9rem;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: .7rem;overflow: hidden;border: .1rem solid #E1E3E1;box-sizing: border-box;box-shadow: 0 0 .5rem 0 rgba(0,0,0,.25);}
#vdeskFile.vdeskFile .fileuploadHeader{width: 100%;padding:.8rem;box-sizing: border-box;border-bottom: .1rem solid #E1E3E1;}
#vdeskFile.vdeskFile .fileuploadHeader ul{display: flex;flex-wrap: wrap;justify-content: space-between;}

#vdeskPopup .vdesk_content .vdeskBottom{display: flex;flex-wrap: wrap;flex-direction: column;padding: 1.6rem;box-sizing: border-box;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_cont{border: .1rem dashed #E1E3E1;border-radius: .7rem;height: 46rem;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_cont > div{width: 100%;height: 100%;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;flex-direction: column;row-gap: 3rem;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr{margin-top: 1.6rem;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul{width: 100%;}
/* #vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li button{} */
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li button div{margin-top: -2px;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li:nth-child(1) button div{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li:nth-child(1) button div i{width: 1.8rem;height: 1.8rem;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li:nth-child(2){margin-left: auto;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li:nth-child(1) button{border: .1rem solid #F44336;border-radius: .7rem;width: 10.8rem;height: 3.5rem;background: none;color: #F44336;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li:nth-child(2) button{border-radius: .7rem;background-color: #5F6368;color: #fff;width: 6.8rem;height: 3.5rem;}
#vdeskPopup .vdesk_content .vdeskBottom .fileupload_button_wr ul li:nth-child(3) button{border-radius: .7rem;background-color: #E1E3E1;width: 8.4rem;height: 3.5rem;margin-left: .8rem;color: #5F6368;}
/* 파일업로드 창 */
/* 파일 전송 */
.fileSend_wr{height: 46rem;}
.fileSend_wr > h3{font-size: 2.2rem;color: var(--color001);line-height: 2rem;margin-bottom: 1.6rem;}
.fileSend_wr > p{font-size: 1.3rem;color: #5F6368;line-height: .9rem;}
.file_loading_box{border-radius: .7rem;border: .1rem dashed #E1E3E1;width: 100%;height: 38.4rem;padding: 1.5rem;box-sizing: border-box;margin-top: 3rem;overflow-y: auto;}
.file_loading_box > p{color: #5F6368;margin-bottom: 1.6rem;}
.select_file_wr li{padding: 3rem;box-sizing: border-box;width: 100%;border: .1rem solid #E1E3E1;border-radius: .3rem;margin-bottom: .8rem;}
.select_file_list_div{display:grid;grid-template-columns: 5rem auto;width: 100%;column-gap: .8rem;}
.select_file_list_div .left_file_img{height: 5rem;width: auto;aspect-ratio: 1/1;}
/* .right_file_div{} */
.right_file_div .right_file_wr{display: flex;flex-wrap: wrap;row-gap: 1.1rem;align-items: center;}
.right_file_div .right_file_wr .file_button button{display: flex;flex-wrap: nowrap;background: none;color: #5F6368;align-items: center;}
.right_file_div .right_file_wr .file_button button i{display: block;width: 1.5rem;height: 1.5rem;}
/* .right_file_div .right_file_wr .file_button{width: 3.9rem;height: auto;} */
.right_file_div .right_file_wr .file_button.pre{margin-left: auto;margin-right: .8rem;}
.right_file_div .right_file_wr .file_loading_line{width: 100%;height: .6rem;background-color: #E1E3E1;}
.right_file_div .right_file_wr .file_loading_line .line_percent{width:max-content;height: 100%;background-color: #F44336;}
.right_file_div .right_file_wr .file_name{font-size: 1.2rem;line-height: 1;color: #5F6368;}

/* 팝업창1 */
#dialogWr.dialogWr{position: absolute;top: 50%;left: 50%;background-color: #fff;display: flex;flex-wrap: wrap;width: 27rem;height: 17rem;transform: translate(-50%, -50%);box-shadow: 0 0 30px 0 rgba(0,0,0,.25);border-radius: 1rem;}
#dialogWr.dialogWr .dialogContainer{width: 100%;height: 100%;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;flex-direction: column;}
#dialogWr.dialogWr .dialogContainer h4{font-size: 2.2rem;line-height: 2rem;color: #111111;font-weight: 500;margin-bottom: 1.6rem;}
#dialogWr.dialogWr .dialogContainer button{width: 6.6rem;margin-top: 2.4rem;}
/* 파일 전송 */

/* vdeskPopup */


/* 버튼 스타일 */
.button_style_red{background-color: #F14235;color: #fff;border-radius: .7rem;height: 3.5rem;}
.button_style_red{}

.paging{display: flex;flex-wrap: nowrap;width: max-content;margin-left: auto;margin-right: auto;}
.paging > ul{display: flex;flex-wrap: nowrap;}
.paging_btn{width: 3.6rem;height: 3.6rem;aspect-ratio: 1/1;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;border-radius: 50%;border: .1rem solid #e3e7ef;background-color: var(--color004);}
/* 버튼 스타일 */

/* 컴포넌트 css */ 