@charset "utf-8";
/* CSS Document */
li:nth-child(1){width: 100%;height: 500px;background:#901616;}
li:nth-child(2){width: 100%;height: 500px;background:#9E3E3E;}
li:nth-child(3){width: 100%;height: 500px;background:#87186E;}

#mainSlider .slw{overflow:hidden;}

/*데스크탑*/
@media (min-width:1024px){
	#header{width: 100%;height: 100px;background: #fdd;}
	#headerIn{width: 1194px;height: 100px;margin: 0 auto;}
	#mainSlider{width: 100%;height: 500px;margin: 0 auto;}
	#container{width: 1200px;height: auto;margin: 0 auto;}
	#footer{width: 100%;height: 100px;background: #fdd;}
	#footerIn{width: 1200px;height:100px;margin: 0 auto;}

}
/*데스크탑*/




/*태블릿*/
@media (min-width:768px) and (max-width:1023px){
	#header{width: 100%;height: 100px;background: #ddf;}
	#headerIn{width: 90%;height:10vh;margin: 0 auto;background: #ddf;}
	#mainSlider{width:90%;height: 500px;margin: 0 auto;}
	#container{width: 90%;height: auto;margin: 0 auto;}
	#footer{width: 100%;height: 100px;background: #ddf;}
	#footerIn{width: 90%;height: 10vh;margin: 0 auto;background: #ddf;}
}
/*태블릿*/




/*모바일(큰)*/
@media (min-width:480px) and (max-width:767px){
	#header{width: 100%;height: 100px;background: #dda;}
	#headerIn{width: 90%;height: 20vh;margin: 0 auto;background: #dda;}
	#mainSlider{width: 90%;height: 200px;margin: 0 auto;}
	#container{width: 90%;height: auto;margin: 0 auto;}
	#footer{width: 100%;height: 100px;background: #dda;}
	#footerIn{width: 90%;height: 20vh;margin: 0 auto;background: #dda;}

}
/*모바일(큰)*/




/*모바일(작)*/
@media (max-width:479px){
	#header{width: 100%;height: 100px;background: #aff;}
	#headerIn{width: 90%;height:20vh;margin: 0 auto;background: #aff;}
	#mainSlider{width: 90%;height: 200px;margin: 0 auto;}
	#container{width: 90%;height: auto;margin: 0 auto;}
	#footer{width: 100%;height: 100px;background: #aff;}
	#footerIn{width: 90%;height:20vh;margin: 0 auto;background: #aff;}

	
}
/*모바일(작)*/