@charset "utf-8";
/* CSS Document */


/* 데스크탑 */
body{background: #fff;}
.logo{padding-top: 30px;}
.gnb{width: 50%;margin: 0 auto;}
.m_menu{display:none}
.headerIn, .footerIn{width: 1024px;margin: 0 auto;}
.inner{width: 1024px;margin: 0 auto;}
.msl{position: relative;height: 500px;width: 100%;}
#container{background: rgba(0,0,0,0.1);}
h1, h2, h3, h4, h5{text-align: center;}
#header{height: 180px;}
#mainSlider .inner span{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 33%;;
	transform: translateY(-50%);
	transform: translateX(-50%);
}
#mainSlider{height: 500px;margin-bottom: 50px;background: #fff;}
#container{height: 640px;margin-bottom: 50px;}
#footer{height:180px;background: #fff;}
.msl li{width: 100%;height: 500px;}
.sl1{background-image:url("../img/sl1_1920.jpg");background-repeat: no-repeat;background-size:cover;}
.sl2{background-image:url("../img/sl1_1920.jpg");background-repeat: no-repeat;background-size:cover;}
.sl3{background-image:url("../img/sl1_1920.jpg");background-repeat: no-repeat;background-size:cover;}
.slick-arrow{position: absolute;top: 50%;z-index: 1;}
.slick-prev{left: 10%;}
.slick-next{right: 10%;}
.m_menu{display: none;}
.mmenu{display: none;}
.information{width: 255px;height: 440px;}
.informationbx{display:flex;justify-content: space-between;}

@media screen and (max-width:1023px) {
	body{background: #fff;}
	.gnb{display: none;}
	.headerIn, .footerIn{width: 90%;margin: 0 auto;}
	.inner{width: 90%;margin: 0 auto;}
	.m_menu{display: block;width: 50px;height: 50px;float: right;}
	.m_menu>div{height:13px;width: 100%;background: #fdc;}
	.m_menu div:nth-child(1), .m_menu div:nth-child(2){margin-bottom: 5.5px;}
	.mmenu{width: 300px;height: 50px;background: #fff;position: absolute;
	right: 5%;top: 13%;}
	.mmenu li{margin-left: 5%;}
	.msl li{width: 100%;height: 400px;}
	.sl1{background-image: url("../img/sl1_m.jpg");background-repeat: no-repeat;background-size:cover;}
	.sl2{background-image: url("../img/sl1_m.jpg");background-repeat: no-repeat;background-size:cover;}
	.sl3{background-image: url("../img/sl1_m.jpg");background-repeat: no-repeat;background-size:cover;}
/* 타블렛 */
}

@media screen and (max-width:767px) {	
	body{background: #fff;}
	.mmenu{width: 300px;height: 50px;background: #fff;position: absolute;
		right: 5%;top: 15%;}
	.msl li{width: 100%;height: 300px;}
	.sl1{background-image: url("../img/sl1_m.jpg");background-repeat: no-repeat;background-size:cover;}
	.sl2{background-image: url("../img/sl1_m.jpg");background-repeat: no-repeat;background-size:cover;}
	.sl3{background-image: url("../img/sl1_m.jpg");background-repeat: no-repeat;background-size:cover;}
	.information{width: 50%;height: 50%;}
	.informationbx{width:100%;flex-wrap: wrap;flex-direction: column}
/* 모바일 */
}
