@charset "utf-8";
/* CSS Document */

#mainSlider{width: 100%;height: 50vh;position: relative; overflow: hidden}
.slw{left: 0;top: 0;position: absolute;width: 100%;}
.slw li{float: left;}

.slw li:first-child{margin-right: 100%;}

.slw li:not(:last-child){
	float: left;margin-right: 100%;
}

.controller span{
	position: absolute;
	background: transparent;
	text-align: center;
	color: white;
	border-radius: 10px 20px;
	top: 50%;
	font-size: 1.3em;
	cursor: pointer;
}

.controller span:hover{
	background-color: rgba(128,128,128,0.11);
}
.prev{
	left: 50px;
}
.next{
	right: 50px;
}

.prev:hover{
	transform: translateX(-10px);
}

.next:hover{
	transform: translateX(10px);
}